<p>
    任务如下
</p>
<p>
    给您一个整数。如果它由一位数字组成，只需返回它的值。
     如果它由两位或多位数组成 - 将它们相加，直到数字只包含一位数，然后返回它的值。
</p>
<p style="text-align: center;">
    <img src="{{MEDIA}}schema.png" style="max-height: 84px">
</p>

<p><strong>输入</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<p><strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>示例：</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

