<p>
    Задача в цій місії наступна:
</p>
<p>
    Тобі дано ціле число. Якщо воно складається з однієї цифри - поверни просто його значення.
    Якщо воно складається з двух та більше цифр - сумуй їх доти, доки число не буде містити лише одну цифру та поверни її.
</p>
<p style="text-align: center;"><img src="{{MEDIA}}schema.png" style="max-height: 84px"></p>
<p><strong>Вхідні дані:</strong>Ціле число ({% if is_js %}number{% else %}int{% endif %}).</p>

<p><strong>Вихідні дані:</strong>Ціле число ({% if is_js %}number{% else %}int{% endif %}).</p>



<div class="for_info_only">
    <p><strong>Приклад:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>
