<p>
    Завдання цієї місії полягає в наступному:
</p>
<p>
    Вам задано ціле число. Якщо воно складається з однієї цифри, просто поверніть її значення.
     Якщо воно складається з двох або більше цифр - додайте їх до тих пір, поки число не буде містити лише одну цифру і поверніть його.
</p>
<p style="text-align: center;">
    <img src="{{MEDIA}}schema.png" style="max-height: 84px">
</p>

<p><strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<p><strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>Приклади:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

