<p>
    La tâche de cette mission est la suivante:
</p>
<p>
    On vous donne un nombre entier. S'il est composé d'un seul chiffre, retournez simplement sa valeur.
     S'il est composé de deux chiffres ou plus, additionnez-les jusqu'à ce que le nombre ne contienne plus qu'un seul chiffre et renvoyez-le.
</p>
<p style="text-align: center;">
    <img src="{{MEDIA}}schema.png" style="max-height: 84px">
</p>

<p><strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<p><strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>Exemples:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

