<p>
    The task in this mission is as follows:
</p>
<p>
    You are given an integer. If it consists of one digit, simply return its value.
     If it consists of two or more digits - add them until the number contains only one digit and return it.
</p>
<p style="text-align: center;"><img src="{{MEDIA}}schema.png" style="max-height: 84px"></p>
<p><strong>Input: </strong>{% if is_js %}A number{% else %}A int{% endif %}.</p>

<p><strong>Output: </strong>{% if is_js %}A number{% else %}A int{% endif %}.</p>

<div class="for_info_only">
    <p><strong>Example:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

