<p>
    Zadanie w tej misji jest następujące:
</p>
<p>
    Otrzymują Państwo liczbę całkowitą. Jeśli składa się ona z jednej cyfry, proszę po prostu zwrócić jej wartość.
     Jeśli składa się z dwóch lub więcej cyfr - proszę je dodać, aż liczba będzie zawierać tylko jedną cyfrę i zwrócić jej wartość.
</p>
<p style="text-align: center;">
    <img src="{{MEDIA}}schema.png" style="max-height: 84px">
</p>

<p><strong>Wejście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<p><strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>Przykłady:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

